.aboutImgLeft {
    max-width: 500px;
    clip-path: circle();
    width: 70%;
    float: left;

}

.aboutTextRight {
    height: auto;
    width: 40%;
    float: right;


}


.aboutImgRight {
    max-width: 500px;
    clip-path: circle();
    width: 70%;
    float: right;

}

.aboutTextLeft {
    height: auto;
    width: 40%;
    float: right;

}

.container {
    margin-top: 10px;
}