@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;600&family=Manrope:wght@200;600&family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;600&family=Manrope:wght@200;600&display=swap');

.aboutImgLeft {
    max-width: 500px;
    clip-path: circle();
    width: 70%;
    float: left;

}

.aboutTextRight {
    height: auto;
    width: 40%;
    float: right;
    font-family: 'Poppins', sans-serif;


}


.aboutImgRight {
    max-width: 500px;
    clip-path: circle();
    width: 70%;


}

.aboutTextLeft {
    height: auto;
    width: 40%;
    font-family: 'Poppins', sans-serif;


}

.container {
    margin-top: 10px;
    position: relative;
}

.reverse {
    display: flex;
    flex-direction:row-reverse
}

.aboutTitle{
    font-family: 'Manrope', sans-seri;
}