@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;600&family=Manrope:wght@200;600&family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;600&family=Manrope:wght@200;600&display=swap');

.aboutImgLeft {
    max-width: 500px;
    clip-path: circle();
    width: 50%;
    float: left;

}

.aboutTextRight {
    height: auto;
    width: 50%;
    float: right;
    font-family: 'Poppins', sans-serif;


}


.aboutImgRight {
    max-width: 500px;
    clip-path: circle();
    width: 70%;


}

.aboutTextLeft {
    height: auto;
    width: 50%;
    font-family: 'Poppins', sans-serif;


}

.container {
    margin-top: 10px;
    position: relative;
}

.reverse {
    display: flex;
    flex-direction:row-reverse
}

.aboutTitle{
    font-family: 'Poppins', sans-serif;
}

@media only screen and (max-width: 400px) {

    .aboutImgLeft {
        max-width: 200px;
        width: 30%;
        position: absolute;
    
    }
    
    .aboutTextRight {
        height: auto;
        width: 70%;
        font-size: small;
    
    
    }
    
    
    .aboutImgRight {
        max-width: 200px;
        width: 40%;
    
    
    }
    
    .aboutTextLeft {
        height: auto;
        width: 70%;
        font-size: small;
    
    
    }
    .aboutTitle{
        font-size: medium;
    }

  }

  @media only screen and (max-width: 900px) {

    .aboutImgLeft {
        max-width: 400px;
        width: 60%;
    
    }
    
    .aboutTextRight {
        height: auto;
        width: 40%;
        font-size: small;
    
    
    }
    
    
    .aboutImgRight {
        max-width: 400px;
        width: 60%;
    
    
    }
    
    .aboutTextLeft {
        height: auto;
        width: 40%;
        font-size: medium;
    
    
    }
    .aboutTitle{
        font-size: large;
    }

  }
  @media only screen and (max-width: 600px) {

    .aboutImgLeft {
        max-width: 200px;
        width: 50%;
    
    }
    
    .aboutTextRight {
        height: auto;
        width: 50%;
        font-size: small;
    
    
    }
    
    
    .aboutImgRight {
        max-width: 200px;
        width: 50%;
    
    
    }
    
    .aboutTextLeft {
        height: auto;
        width: 50%;
        font-size: medium;
    
    
    }
    .aboutTitle{
        font-size: medium;
    }

  }