* { 
    margin: 0; 
    font-family: Arial, Helvetica, sans-serif;
}
.appContainer{

    
}

.section {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageAndTextWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}