@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;600&family=Manrope:wght@200;600&display=swap');

* {
    margin: 0;


}

.appContainer {


    justify-content: center;

}

section {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageAndTextWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.divider {
    margin: 60px 0;
}


.intro {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url("../content/ghost.jpeg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    object-fit: cover;
    object-position: center center;
    color: #FBAD7D;
    opacity: 1;
    max-width: 2831px;
    text-shadow: 1;

}

.aboutContainer {
    margin: 0 auto;
    max-width: 960px;
    padding: 0 1.0875rem 1.45rem;
    margin-top: -20%;


}

.introName {
    font-family: 'Catamaran', sans-serif;
    font-weight: 700;
    font-size: 120px;
}

.aboutText {
     font-family: 'Manrope', sans-seri;
     font-weight: 500;
     font-size: 40px;
}

.logoItem {
    filter: invert(1);
    padding: 10px;
}

@media only screen and (max-width: 1350px) {
    .aboutContainer {
        padding: 0 1.0875rem 1.45rem;
        margin-top: -30%;
    
    }
    .introName {
        font-size: 100px;
    }
    
    .aboutText {
         font-size: 40px;
    }
    
}


@media only screen and (max-width: 992px) {

    .aboutContainer {
        padding: 0 1.0875rem 1.45rem;
        margin-top: -20%;
    
    }

    .introName {
        font-size: 80px;
    }
    
    .aboutText {
         font-size: 35px;
    }
    .intro {
        height: 60vh;

    
    }

}


@media only screen and (max-width: 800px) {

    .aboutContainer {
        padding: 0 1.0875rem 1.45rem;
        margin-top: -5%;

    
    }

    .introName {
        font-size: 80px;

    }
    
    .aboutText {
         font-size: 35px;

    }
    .intro {
        height: 50vh;

    
    }

}

@media only screen and (max-width: 600px) {

    .aboutContainer {
        padding: 0 1.0875rem 1.45rem;
        margin-top: -10%;
    
    }

    .introName {
        font-size: 60px;
    }
    
    .aboutText {
         font-size: 30px;
         margin-top: 60px;
    }

    .intro {
        height: 50vh;

    
    }

}

@media only screen and (max-width: 400px) {

    .aboutContainer {
        /* padding: 0 1.0875rem 1.45rem; */
        margin-top: 0%;
    
    }

    .introName {
        font-size: 30px;
    }
    
    .aboutText {
         font-size: 18px;

    }

    .intro {
        height: 40vh;

    
    }



}